In [112]:
import pandas as pd
import numpy as np

# LESSON 0
In this lesson we show the following: 
- Type of python (int, float, string..)
- Data structure in python (List, Set, Dict, Tuple, Array, Dataframe..)

## Typing
In python we can have several type of variable the function *type(object)* allow to know which is the ype of object variable

In [113]:
# we can define int
pippo_int = 3
print(type(pippo_int))
# we can define float
pippo_float = 3.5
print(type(pippo_float))
# we can define bool
pippo_bool = False
type(pippo_bool)
# we can define bool
pippo_str = '3'
type(pippo_str)

<class 'int'>
<class 'float'>

str

In [114]:
# we can transform a type 
print('pippo_float to int -> ',int(pippo_float))
print('pippo_int to float -> ',float(pippo_int))
print('pippo_int to str -> ',str(pippo_int))
print('pippo_float to bool -> ',bool(pippo_float))
print('zero to bool -> ',bool(0))
print('pippo_str to int -> ',int(pippo_str))
print('pippo_str to float -> ',str(pippo_str))

pippo_float to int ->  3
pippo_int to float ->  3.0
pippo_int to str ->  3
pippo_float to bool ->  True
zero to bool ->  False
pippo_str to int ->  3
pippo_str to float ->  3

In [115]:
# sum type 
one = 1
two = 2
three = one + two
print(three)

hello = "hello"
world = "world"
helloworld = hello + world
print(helloworld)

true = True
false = False
print(true + false)

3
helloworld
1

In [138]:
class Car:
    def __init__(self, brand, km) -> None:
        self.brand = brand
        self.km = km
    def return_km(self):
        print(self.km)

Salvatore_car = Car('Clio', 120_000)
Batman_car = Car('Batmobile', 100_000)         
type(Salvatore_car)

__main__.Car

In [142]:
Batman_car.return_km()

100000

## Data Structures

##### List 
List is ordered collection of items. Mutabile e Ordinata. It is define by a "[ ]"

In [116]:
list_ = [1, 2, 3, 'hello', 3.5 ]
list_two = [list, list]

list_two

[[1, 2, 3, 'hello', 3.5, 3], [1, 2, 3, 'hello', 3.5, 3]]

In [117]:
list_[0] = 'value' 
list_

['value', 2, 3, 'hello', 3.5]

In [118]:
[1, 3, 4] + [1, 3, 4] # Le liste non si sommano si concatenano

[1, 3, 4, 1, 3, 4]

In [119]:
list_.append(3)
list_ # l'append è inplace

['value', 2, 3, 'hello', 3.5, 3]

##### Tuple
Tuple is ordered collection of items. NON Mutabile e Ordinata. It is define by a "( )"

In [120]:
tuple_ = (3, list_)

tuple_

(3, ['value', 2, 3, 'hello', 3.5, 3])

In [121]:
# tuple_ + (3) #le tuple non si sommano si contatenano

In [122]:
# tuple_[0] = 'value'

##### Set
Set is non ordered collection of items. non Mutabile e Ordinata. It is define by a "{ }"

In [123]:
set_ = {0, 3, 3, 2}
set_

{0, 2, 3}

In [124]:
#set_ + set_ #i set non si sommano e non si contatenano

In [125]:
set_.difference({3,2})

{0}

##### Dict
Tuple is ordered collection of key - value items. Mutabile e NON Ordinata. It is define by a "{key: value}"

In [126]:
dict_ = {'Mele': 20, 'Pere':tuple_, 'Banane': list_}

In [127]:
dict_['Pere'] = 2 
dict_

{'Mele': 20, 'Pere': 2, 'Banane': ['value', 2, 3, 'hello', 3.5, 3]}

In [128]:
dict_['Insalata'] = 100
dict_

{'Mele': 20,
 'Pere': 2,
 'Banane': ['value', 2, 3, 'hello', 3.5, 3],
 'Insalata': 100}

In [129]:
print(dict_.keys())
print(dict_.values())
print(dict_.items())

dict_keys(['Mele', 'Pere', 'Banane', 'Insalata'])
dict_values([20, 2, ['value', 2, 3, 'hello', 3.5, 3], 100])
dict_items([('Mele', 20), ('Pere', 2), ('Banane', ['value', 2, 3, 'hello', 3.5, 3]), ('Insalata', 100)])

##### Array 
It is a list of number

In [130]:
np.array([3,4,5]) + np.array([3,4,5]) # si sommano

array([ 6,  8, 10])

## Exercise

EX 1
Creare due tuple che rappresentino i due elenchi di nomi e cognomi descritti sotto:
nomi: Numa, Tullo, Anco
cognomi: Pompilio, Ostilio, Marzio
Ottenere una lista in cui ogni elemento è un dizionario {'nome': nome, 'cognome':
cognome}

EX 2 
Calcolare la somma dei primi 500 numeri naturali (da 0 a 500 escluso)

EX 3 
Nella Successione di Fibonacci, ciascun numero è la somma dei due numeri che lo precedono, ad esempio:

1, 1, 2, 3, 5, 8, 13 (...)

Scrivi una funzione ricorsiva che restituisce in output i numeri della successione di Fibonacci, entro una soglia specifica impostata dall'utente.

EX 4
Scrivi una funzione a cui viene passata una parola e riconosce se si tratta di un palindromo (parole che si leggono uguali anche al contrario) oppure no.

EX 5 
Scrivere una funzione che elimini gli elementi duplicati di una lista, ma preservi l'ordine.

EX 6 
Scrivere una funzione conta_caratteri(s) che ritorni un dizionario contenente il numero di occorrenze per ciascun carattere presente nella stringa s: